SECRET=MIICXQIBAAKBgQCZ7PF9r8otyc7ntqqjJPzHfUJp7FB4mT2iBieXVSa8GJsTEFtGEilLqaqwOjI3AV+L3+FSoHB75IgMa5UJBCP9Wk//MbtZqhUSevIXhIUJQ/93Yo8YtGbJlzxse+HCeWvLH1JbGgySBL2jQysOpuF8qtugCuSV/mrjiwTufsDz6QIDAQABAoGATf/t190OvOk4+d5s1cNWfNiSoQ5pMNOmkcZApcU2nbZyTtTJC9cEKh1OK4MyEwGVI1JN4gr/NSj3cCPMIAeDHIKBr1XaVF8EMpr7RiBZMTOVTbfmGypYQ8bw1V0F+dz6aGcW10hrtOMFiFGFumrfzT5g9sSK1MRyOXyWmN55dAECQQDiwWbmZNcmTNgor3I9AVQEacFwO+ezXGv562VzvgqD6aP87Zmj5fUDPExb0nukGCxgo0LRQQtLk514lm2QKMKpAkEArcb56ydRB/amxWlBvALLTd9dAwXh1YXHNkOolo1FsiooO5s0sbbz98IoZdO532Mc9xcCHT5lWUKfg/JauGavQQJBAJgO8Z4WiWCZr2q5HHZkaZ77/EfzJBFXLOFPRZ00F4EWMG3wN1N9ZaxhxyLcJyWHQFsdoDUK1TQ9LSAsYBSIAOECQAZtbaD8+0pIHTMACaZilBJ1SINsHEZBhHTFW971qrZESOirfO91zOBFFiluA1n32IJrH3DldeovRKckt6ZKZgECQQDhPMa6A6VT1vsnOnrQt8C3VaDvYwAyoDcmqWeHheALZYp9RlBoujRvUFGmQY/1M55QhWSmHyXYEjM8Bzs0Murv
MONGODB_URL="mongodb://localhost:27017/petride"